%H1 About sipbib.com

%H2 The Idea
%p.dropcap 
  The idea originated from 
  = link_to "my", :controller => "profile", :action => "show", :id => "6"
  involvement in sports (rowing, triathlon, cycling, and running) at a variety of different clubs. I love taking part in events and clubs, and I realised that there are lots of similarities between different clubs, and different events. This got me thinking...
%p.dropcap Most clubs have the same sorts of pages on them: "About Us", "News", "Upcoming Events", "Club Message Board" to list but a few. Clubs' also often have volunteer web developers who would probably be rather out enjoying their sport than updating the website. With the advances in Internet technology, I thought I could make the lives of club committee members much easier by making a club site that its members can contribute to. 
%p.dropcap After setting that up though, why stop there? It occured to me that actually events could be run through the club...  ...and if events are run through it - why not create the results on the website, ready for the users to see / analyse / comment / share and read! 
%p.dropcap Realising it could all be joined up, this website aims to give clubs the ability to manage all the administration of a club and all the needs of the club members and event organisers.
%H2 S.I.P.B.I.B.
%p.dropcap 
  Its really hard to find a short, memorable, interesting domain name these days. After thinking about sports and what this site would provide I realised there wasn't really any single word in the English dictionary which would capture it. So I just took the first letters of a phrase I quite like (
  %i<
    "The more you&nbsp;
    %b> s
    weat&nbsp;
    %b> i
    n&nbsp;
    %b> p
    ractise, the less you&nbsp;
    %b> b
    leed&nbsp;
    %b> i
    n&nbsp;
    %b> b
    attle"
  ) and there you have it: 
  %b sipbib.
%H2.technical Technical
%p.dropcap.technical Sipbib was made using "Ruby on Rails". Its written in HAML and SASS, and uses as much RESTful design as possible. It does (or will) integrate with YouTube, Google Calendar and Google Maps APIs and was coded in Eclipse using the Radrails development environment and test suite. It is hosted on a Debian Edge VPS with www.blueboxgrp.com, version controlled in a GitHub repository, and deployed via Capistrano.
%BR