.calendar {
  position: relative; }
  .calendar .calevent {
    position: absolute;
    border-width: 1px;
    border-style: solid; }



.bookingDetails {
  position: absolute;
  width: 200px;
  visibility: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  background-color: #ddd;
  font-size: 0.7em;
  padding: 5px;
  z-index: 1000; }
