#profile_left_column {
  position: relative;
  top: 0;
  left: 0;
  width: 240px;
  background-color: red; }

#profile_right_column {
  position: relative;
  top: 0;
  left: 240px;
  margin: 0;
  background-color: blue; }
