.newspost {
  margin: 0 0 10px 0;
  position: relative; }

.newspostwithLborder {
  float: left;
  background: #FFFFFF;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  padding: 0px 0px 3px 7px;
  margin: 0 0 0px 0; }

.newspost_even {
  border-left: 6px solid #AAA; }

.newspost_odd {
  border-left: 6px solid #DDD; }

.newsbody {
  font-size: 0.8em;
  margin: 5px; }

.report_gallery {
  float: right;
  margin-top: 10px;
  width: 170px;
  text-align: center; }

.gallery_image {
  float: left;
  width: 160px;
  height: 140px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px; }

.memberbackground {
  float: left;
  width: 140px;
  height: 140px;
  margin: 10px;
  background: #a4a4a4;
  z-index: 1; }

#club_logo {
  float: left;
  width: 100%;
  background: white; }

#main_club_links {
  padding: 0 0 0 0;
  background: white; }

.member {
  position: relative;
  border: 1px solid #d4d4d4;
  width: 140px;
  height: 115px;
  top: -7px;
  left: -7px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #f4f4f4;
  vertical-align: middle;
  text-align: center;
  z-index: 10; }
  .member img {
    text-align: center;
    position: relative;
    border: 0px; }

.gallery_background {
  width: 670px;
  background-color: #ddd;
  padding: 10px;
  margin: 20px;
  text-align: center; }

.report_odd {
  background: #efefef;
  border-top: 1px black dashed;
  padding: 10px; }

.report_even {
  background: #d5d5d5;
  border-top: 1px black dashed;
  padding: 10px; }

.event_row table {
  border: 0px;
  border-spacing: 0px;
  border-width: 0; }

.event_row_odd td {
  background: #efefef;
  border-right-color: #efefef;
  border-top: 1px black dashed;
  padding: 0;
  border-spacing: 0px;
  font-size: 0.8em; }

.event_row_even td {
  background: #d5d5d5;
  border-top: 1px black dashed;
  padding: 0;
  border-spacing: 0px;
  font-size: 0.8em; }

.photo_thumb {
  border-width: 1px;
  border-color: #000; }

.photo_full {
  border-width: 1px;
  border-color: #000; }

.subtitle {
  background-color: #eee;
  margin-bottom: 10px;
  padding: 5px; }

.white {
  background-color: #fff; }
  .white a img {
    margin: 5px;
    border-width: 0px; }

.report_gallery {
  float: right;
  margin-top: 10px;
  width: 170px;
  text-align: center; }

.gallery_image {
  float: left;
  width: 160px;
  height: 140px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px; }

/* Blog Styles */ */
.post {
  padding: 10px;
  margin: 5px; }

.post_odd {
  background-color: #ddd;
  padding: 10px;
  margin: 10px 0px 10px 0; }

.post_even {
  background-color: #eee;
  padding: 10px;
  margin: 10px 0px 10px 0; }

.post_body {
  padding: 1em;
  font-size: 0.8em; }

.post_creation_date, .post_modification_date {
  text-align: right; }

.post_actions {
  float: right; }

.event_tabnav {
  color: #000000;
  border-bottom: 1px solid black;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px; }
  .event_tabnav ul {
    margin: 0px;
    padding: 0px; }
  .event_tabnav li {
    display: inline;
    overflow: hidden;
    list-style-type: none; }
  .event_tabnav a, .event_tabnav a.active {
    color: #000000;
    background: #FFEBBF;
    font: bold 1em "Trebuchet MS", Arial, sans-serif;
    border: 1px solid black;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none; }
  .event_tabnav a.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none; }
  .event_tabnav a.visited:hover {
    color: #FFFFFF;
    text-decoration: none; }

.event_tabnav_content {
  font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
  text-align: justify;
  background: #FFFFFF;
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  z-index: 2; }

.profiletabs_tabnav {
  color: #000000;
  border-bottom: 1px solid black;
  margin: 12px 0px 0px 0px;
  padding: 0px;
  z-index: 1;
  padding-left: 10px; }
  .profiletabs_tabnav ul {
    margin: 0px;
    padding: 0px; }
  .profiletabs_tabnav li {
    display: inline;
    overflow: hidden;
    list-style-type: none; }
  .profiletabs_tabnav a, .profiletabs_tabnav a.active {
    color: #000000;
    background: #FFEBBF;
    font: bold 1em "Trebuchet MS", Arial, sans-serif;
    border: 1px solid black;
    padding: 2px 5px 0px 5px;
    margin: 0;
    text-decoration: none; }
  .profiletabs_tabnav a.active {
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    text-decoration: none; }
  .profiletabs_tabnav a.visited:hover {
    color: #FFFFFF;
    text-decoration: none; }

.profiletabs_tabnav_content {
  font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif;
  text-align: justify;
  background: #FFFFFF;
  padding: 20px;
  border: 1px solid black;
  border-top: none;
  z-index: 2; }

.team {
  float: left;
  font-size: 0.7em;
  width: 180px;
  border: 1px solid #d4d4d4;
  padding: 10px 10px 0px 10px;
  margin: 10px 10px 0px 10px;
  vertical-align: middle;
  text-align: left; }
  .team .odd {
    background: #e4e4e4; }
  .team .even {
    background: #e4e4e4; }

.event_description {
  position: relative;
  padding: 20px;
  border: 1px solid black;
  background-color: #f4f4f4;
  margin: 10px;
  margin-bottom: 30px;
  margin-top: 15px; }

.event_legend {
  position: absolute;
  top: -1em;
  left: 1em;
  background-color: #FFEBBF;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  font-weight: bold; }

#event_table td {
  font-size: 0.8em; }
