<H3><%=h @resource.name %></H3>

<div class="calendar">
<img src="/images/calendar.gif">

  <div class="calevent" style="top: 82px; left: 130px; height: 14px;">
  hello
  </div>

</div>

<%= render :partial => "bookings/new" %>

<%= link_to 'Back to Resources', resources_path %>
