<% field_title = nil if not defined?(field_title) -%>
<tr><td>
  <label for="<%= field %>">
    <%= field_title || field.humanize %>:
  </label> </td><td>
  <%= form.password_field field, 
                          :size =>      User::PASSWORD_SIZE,
                          :maxlength => User::PASSWORD_MAX_LENGTH, :class => "text" %>
</td></tr>